<!DOCTYPE html>
<head>
  <head>
    <meta name="twitter:" content="" charset="utf-8">
    <title>可编辑列表</title>
  </head>
  <body>
    <h2>$!afa</h2>
    <ul contenteditable="true">
      <li onkeydown="add()">列表1</li>
      <li onchange="add()">列表2</li>
      <li onchange="add()">列表3</li>
    </ul>
    <button type="button" autofocus name="button">按钮1</button>
  </body>
  <script type="text/javascript">
    function add(){
      console.log(this);
    }
  </script>
</head>
