<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 一、数据源 -->
	<!-- 扫描数据源配置文件 -->
	<context:property-placeholder location="classpath:*.properties"/>
	<!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="url" value="${jdbc.url}"></property>
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean> -->
	<!-- 二、sqlSessionFactory工厂，生产sqlSession -->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		配置别名
		<property name="typeAliasesPackage" value="cn.e3mall.domain"></property>
		加载mybatis配置文件:SqlMapConfig.xml
		<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
	</bean> -->
	<!-- 三、接口批量扫描 -->
	<!-- Mybatis接口代理开发规范：
		1、Mybatis映射文件namespace必须是接口全类路径名
		2、映射文件sql语句Id必须接口的方法名
		3、接口和映射文件必须在同一个目录，且名称相同
		4、映射文件接受参数类型必须和接口传递参数类型一致
		5、映射文档返回值类型必须和接口返回值类型一致
	 -->
	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.e3mall.mapper,cn.e3mall.search.mapper"></property>
		
			1、延迟加载sqlSessionFactory
			2、多数据库实例（每一个数据库都有一个工厂），指定数据工厂
		
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean> -->
</beans>